<div>
    <form action="/" method="post" style="width: 50%; margin:auto"><br><br>
        <h2>Add New Product </h2>
        <input name="code" value="<%= product.code %>" type="text" id="code" class="form-control" placeholder="Product code">
        <input name="description" value="<%= product.description %>" type="text" id="description" class="form-control" placeholder="Product description">
        <input name="price" value="<%= product.price %>" type="text" id="price" class="form-control" placeholder="Product price">
        <button class="form-control btn btn-info" type="submit">Add to Database</button>
    </form>
</div>