<div class="container mt-5">
    <table class="table  table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <p>No data available in table</p>
        </tbody>
    </table>
</div>